* {
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.product.row{
    margin-bottom: 30px;
    text-align: center;
}

.product, .visual-section {
    display: inline-block;
}

/* visual-section */
.visual-section {
    position: relative;
}

.image {
    width: 300px;
}

.image.background {
    top: 0px;
    right: 0px;
    position: absolute;
    visibility: hidden;
}

.visual-section:hover .image.background {
    visibility: visible;
}

.heart {
    font-size: 1em;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    background-color: #fff;
    position: absolute;
    top: 15px;
    right: 0px;
}

.labels{
    position: absolute;
    bottom: 15px;
}

.discount, .sustainability {
    display: inline-block;
    color: #fff;
    padding: 3px;
}

.discount {
    background-color: red;
}

.sustainability {
    background-color: seagreen;
}
/* fine visual-section */

.labels, .text-section {
    font-size: 0.6em;
}

/* text-section */
.brand, .product-description, .price {
    margin-bottom: 2px;
}

.brand, .original-price {
    color: grey;
}

.product-description {
    text-transform: uppercase;
    font-weight: bold;
}

.current-price, .original-price {
    display: inline-block;
}

.current-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
}
/* fine text-section */